<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qq.eduservice.mapper.EduArticleUserMapper">

    <!-- 获取某个用户所有点赞的文章 -->
    <select id="getArticles" resultType="java.lang.String">
        select article_id from edu_article_user where user_id = #{id}
    </select>

</mapper>
